{{define "breadcrumb"}}
                        <li class="is-active"><a href="#" aria-current="page">Entities</a></li>
{{end}}

{{define "content"}}
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                {{.title}}
                            </h1>
                             <h2 class="subtitle">
                                Type: {{.entity.Type}}
                            </h2>
                        </div>
                    </div>
                </section>

                <section class="table">
                  <table class="table is-striped is-fullwidth">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Optional</th>
                      <th>Size</th>
                      <th>Length</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{$entity := .entity }}
                    {{range .entity.Fields}}
                    <tr>
                      <td valign="bottom"><a href="/fields/{{lowercase .Name}}">{{.Name}}</a></td>  
                      <td valign="bottom">{{.Type}}</td>
                      <td valign="bottom">{{.Optional}}</td>
                      <td valign="bottom">{{.Size}}</td>
                      <td valign="bottom">{{.Length}}</td>
                      <td align="right" >
                        <form action="/fields/{{lowercase .Name}}" method="post">
                          <input type="hidden" id="field_name" name="field_name" value="{{lowercase .Name}}" />
                          <input type="hidden" id="entity_name" name="entity_name" value="{{lowercase $entity.Name}}" />
                        <p align="right" class="buttons">
                            <button class="button is-danger is-outlined" >
                            <span class="icon is-small">
                              <i class="fas fa-trash"></i>
                            </span>
                            </button> 
                        </p>   
                        </form>
                      </td>
                    </tr>
                    {{end}}       
                  </tbody>
                  </table>
                  <button class="button is-primary is-outlined js-modal-trigger" data-target="modal-js-field">
                    <span class="icon is-small">
                      <i class="fas fa-circle-plus fa-2x"></i>
                    </span>
                  </button>
                </section>
-->
{{end}}
{{template "field_popup.html" .}}

{{template "base.html" .}}

