{{define "breadcrumb"}}
                        <li><a href="/entities">Entities</a></li>
                        <li><a href="/entities/{{lowercase .Text.entityname}}">{{.Text.entityname}}</a></li>
                        <li class="is-active"><a href="#" aria-current="page">Field</a></li>
{{end}}

{{define "content"}}

                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                {{.Text.title}}
                            </h1>
                             <h2 class="subtitle">
                                Entity: '{{.Text.entityname}}'
                            </h2>
                        </div>
                    </div>
                </section>
  
                <section>
                  <form action="/fields" method="post">   
                    {{$lookupname := .Data.lookupnames}}
                    {{$entityname := .Text.entityname}}
                    {{ with .Data.field}}
                    <section>
                      <input type="hidden" id="entity_name" name="entity_name" value="{{lowercase $entityname}}" />  
                      <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                          <input name="field_name" class="input" type="text" value="{{.Name}}" required />
                        </div>
                      </div>
                      <div class="columns is-mobile">
                        <div class="column">
                          <div class="field">
                            <label class="label">Type</label>
                            <div class="control">
                              <div class="select">
                                <select id="type_select" name="field_type" value="{{.Type}}" autofocus onchange="fieldVisibilty()" onfocus="fieldVisibilty()">
                                  <option{{if eq .Type "Boolean"}} selected{{end}}>Boolean</option>
                                  <option{{if eq .Type "Text"}} selected{{end}}>Text</option>
                                  <option{{if eq .Type "E-Mail"}} selected{{end}}>E-Mail</option>
                                  <option{{if eq .Type "Phone"}} selected{{end}}>Phone</option>
                                  <option{{if eq .Type "Number"}} selected{{end}}>Number</option>
                                  <option{{if eq .Type "Date"}} selected{{end}}>Date</option>
                                  <option{{if eq .Type "Lookup"}} selected{{end}}>Lookup</option>
                                </select>
                              </div>
                             </div>
                          </div>
                        </div>
                        <div class="column">
                          <div class="field" id="optional">
                            <label class="label">Optional?</label>
                              <input name="field_optional" type="checkbox" value="true" {{if .Optional}}checked{{end}} />                            
                          </div>   
                          <div class="field" id="label">
                            <label class="label">Label?</label>
                              <input name="field_label" type="checkbox" value="true" {{if .Label}}checked{{end}} />                            
                          </div>   
                        </div>   
                      </div> <!-- columns -->
                      <div class="columns is-mobile">
                        <div class="column">
                          <div class="field" id="size">
                            <label class="label">Size</label>
                            <div class="control">
                              <input name="field_size" class="input" type="number" step="1" min="0" value="{{.Size}}">
                            </div>
                          </div> 
                        </div>   
                        <div class="column">
                          <div class="field" id="length">
                            <label class="label">Length</label>
                            <div class="control">
                              <input name="field_length" class="input" type="number" step="1" min="0" value="{{.Length}}">
                            </div>
                          </div>   
                        </div>  
                      </div> <!-- columns -->
                      <div class="columns is-mobile">
                        <div class="column">
                          <div class="field" id="maxlength">
                            <label class="label">Maximum Length</label>
                            <div class="control">
                              <input name="field_maxlength" class="input" type="number" step="1" min="0" value="{{.MaxLength}}">
                            </div>
                          </div>   
                        </div>   
                        <div class="column">
                          <div class="field" id="minlength">
                            <label class="label">Minimum Length</label>
                            <div class="control">
                              <input name="field_minlength" class="input" type="number" step="1" min="0" value="{{.MinLength}}">
                            </div>
                          </div>   
                        </div>   
                      </div> <!-- columns -->
                      <div class="columns is-mobile">
                        <div class="column">
                          <div class="field" id="minval">
                            <label class="label">Minimum Value</label>
                            <div class="control">
                              <input name="field_min" class="input" type="number" value="{{.Min}}">
                            </div>
                          </div> 
                        </div>  
                        <div class="column">
                          <div class="field" id="maxval">
                            <label class="label">Maximum Value</label>
                            <div class="control">
                              <input name="field_max" class="input" type="number" value="{{.Max}}">
                            </div>
                          </div> 
                        </div>                         
                      </div> <!-- columns -->
                      <div class="columns is-mobile">
                        <div class="column">
                          <div class="field" id="stepval">
                            <label class="label">Step</label>
                            <div class="control">
                              <input name="field_step" class="input" type="number" value="{{.Step}}">
                            </div>
                          </div>  
                        </div>                         
                      </div> <!-- columns -->
                      <div class="field" id="placeholder">
                        <label class="label">Placeholder</label>
                        <div class="control">
                          <input id="placeholder_field" name="field_placeholder" class="input" type="text" value="{{.Placeholder}}">
                        </div>
                      </div>     
                      <div class="field" id="datetime">
                        <label class="label">Date/Time</label>
                        <div class="control">
                          <div class="select">
                            <select name="field_datetime" value="{{.DateTime}}">
                              <option{{if eq .DateTime ""}} selected{{end}}></option>
                              <option{{if eq .DateTime "Date"}} selected{{end}}>Date</option>
                              <option{{if eq .DateTime "Time"}} selected{{end}}>Time</option>
                              <option{{if eq .DateTime "Date+Time"}} selected{{end}}>Date+Time</option>
                              <option{{if eq .DateTime "Week"}} selected{{end}}>Week</option>
                              <option{{if eq .DateTime "Month"}} selected{{end}}>Month</option>
                            </select>
                          </div>
                        </div> 
                      </div>                        
                      <div class="field" id="pattern">
                        <label class="label">Validation Pattern</label>
                        <div class="control">
                          <input id="pattern_field" name="field_pattern" class="input" type="text" value="{{.Pattern}}">
                        </div>
                      </div>
                      <div class="field" id="lookup">
                            <label class="label">Lookup</label>
                            <div class="control">
                              <div class="select">
                                <select id="lookup_select" name="field_lookup" value="{{.Lookup}}" autofocus onchange="fieldVisibilty()" onfocus="fieldVisibilty()">
                                  {{$lk:= .Lookup}}
                                  {{range $value:=$lookupname}}
                                  <option{{if eq $lk $value}} selected{{end}}>{{$value}}</option>          
                                  {{end}}
                                </select>
                              </div>
                             </div>
                          </div>
                    </section>
                    {{end}}
                    <footer>
                      <button class="button is-success" type="submit">Save changes</button>
                      <a class="button is-info" href="/entities/{{lowercase .Text.entityname}}">Cancel</a>
                    </footer>
                                
                  </form>
                </section>

<script>
window.onload = function(){
    var element = document.getElementById('type_select');
    element.focus();
    setTimeout(function () { element.focus(); }, 1);
}
  
  function fieldVisibilty() {
    var select = document.getElementById("type_select").value;
  switch(select) {
    case "Boolean":
      document.getElementById("pattern").style.display = "none";
      document.getElementById("optional").style.display = "none";
      document.getElementById("maxlength").style.display = "none";
      document.getElementById("minlength").style.display = "none";
      document.getElementById("placeholder").style.display = "none";
      document.getElementById("size").style.display = "none";
      document.getElementById("length").style.display = "none";
      document.getElementById("datetime").style.display = "none";
      document.getElementById("maxval").style.display = "none";
      document.getElementById("minval").style.display = "none";
      document.getElementById("stepval").style.display = "none";
      document.getElementById("lookup").style.display = "none";
      break;
    case "Lookup":
      document.getElementById("pattern").style.display = "none";
      document.getElementById("optional").style.display = "none";
      document.getElementById("maxlength").style.display = "none";
      document.getElementById("minlength").style.display = "none";
      document.getElementById("placeholder").style.display = "none";
      document.getElementById("size").style.display = "none";
      document.getElementById("length").style.display = "none";
      document.getElementById("datetime").style.display = "none";
      document.getElementById("maxval").style.display = "none";
      document.getElementById("minval").style.display = "none";
      document.getElementById("stepval").style.display = "none";
      document.getElementById("lookup").style.display = "block";
      break;
    case "Text":
      document.getElementById("pattern").style.display = "block";
      document.getElementById("optional").style.display = "block";
      document.getElementById("maxlength").style.display = "block";
      document.getElementById("minlength").style.display = "block";
      document.getElementById("placeholder").style.display = "block";
      document.getElementById("size").style.display = "block";
      document.getElementById("length").style.display = "block";
      document.getElementById("datetime").style.display = "none";
      document.getElementById("maxval").style.display = "none";
      document.getElementById("minval").style.display = "none";
      document.getElementById("stepval").style.display = "none";
      document.getElementById("lookup").style.display = "none";
      if (!document.getElementById("placeholder_field").value) {
        document.getElementById("placeholder_field").value="Some text..."
      }
      break;   
    case "E-Mail":
      document.getElementById("pattern").style.display = "block";
      document.getElementById("optional").style.display = "block";
      document.getElementById("maxlength").style.display = "block";
      document.getElementById("minlength").style.display = "block";
      document.getElementById("placeholder").style.display = "block";
      document.getElementById("size").style.display = "block";
      document.getElementById("length").style.display = "block";
      document.getElementById("datetime").style.display = "none";
      document.getElementById("maxval").style.display = "none";
      document.getElementById("minval").style.display = "none";
      document.getElementById("lookup").style.display = "none";
      document.getElementById("stepval").style.display = "none";
      if (!document.getElementById("placeholder_field").value) {
        document.getElementById("placeholder_field").value="test@yahoo.de"
      }
      break;
    case "Phone":
      document.getElementById("pattern").style.display = "block";
      document.getElementById("optional").style.display = "block";
      document.getElementById("maxlength").style.display = "none";
      document.getElementById("minlength").style.display = "none";
      document.getElementById("placeholder").style.display = "block";
      document.getElementById("size").style.display = "block";
      document.getElementById("length").style.display = "block";
      document.getElementById("datetime").style.display = "none";
      document.getElementById("maxval").style.display = "none";
      document.getElementById("minval").style.display = "none";
      document.getElementById("stepval").style.display = "none";
      document.getElementById("lookup").style.display = "none";
      if (!document.getElementById("placeholder_field").value) {
        document.getElementById("placeholder_field").value="+34 5603821"
      }
      break;
     case "Date":
      document.getElementById("pattern").style.display = "none";
      document.getElementById("optional").style.display = "block";
      document.getElementById("maxlength").style.display = "none";
      document.getElementById("minlength").style.display = "none";
      document.getElementById("placeholder").style.display = "none";
      document.getElementById("size").style.display = "none";
      document.getElementById("length").style.display = "none";
      document.getElementById("datetime").style.display = "block";
      document.getElementById("maxval").style.display = "none";
      document.getElementById("minval").style.display = "none";
      document.getElementById("stepval").style.display = "none";
      document.getElementById("lookup").style.display = "none";
      break;     
    case "Number":
      document.getElementById("pattern").style.display = "none";
      document.getElementById("optional").style.display = "block";
      document.getElementById("maxlength").style.display = "none";
      document.getElementById("minlength").style.display = "none";
      document.getElementById("placeholder").style.display = "block";
      document.getElementById("size").style.display = "block";
      document.getElementById("length").style.display = "block";
      document.getElementById("datetime").style.display = "none";
      document.getElementById("maxval").style.display = "block";
      document.getElementById("minval").style.display = "block";
      document.getElementById("stepval").style.display = "block";
      document.getElementById("lookup").style.display = "none";
      if (!document.getElementById("placeholder_field").value) {
        document.getElementById("placeholder_field").value="123"
      }
      break;     
    default:
      document.getElementById("pattern").style.display = "block";
      document.getElementById("optional").style.display = "block";
      document.getElementById("maxlength").style.display = "block";
      document.getElementById("minlength").style.display = "block";
      document.getElementById("placeholder").style.display = "block";
      document.getElementById("size").style.display = "block";
      document.getElementById("length").style.display = "block";
      document.getElementById("lookup").style.display = "none";
      console.log("no hit");
    }
  }


</script>
{{end}}


{{template "base.html" .}}

