{{define "breadcrumb"}}
                        <li class="is-active"><a href="#" aria-current="page">Relations</a></li>
{{end}}

{{define "content"}}
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                {{.title}}
                            </h1>
                        </div>
                    </div>
                </section>
                 <section class="table">
                  <table class="table is-striped is-fullwidth">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Source</th>
                      <th>Destination</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                     {{range .model.Relations}}
                    <tr>
                      <td valign="bottom">{{.Type}}</td>
                      <td valign="bottom"><a href="/entities/{{lowercase .Source}}">{{.Source}}</a></td>
                      <td valign="bottom"><a href="/entities/{{lowercase .Destination}}">{{.Destination}}</a></td>
                      <td align="right" > 
                        <p class="buttons">
                          <form action="/relations/{{lowercase .Source}}{{lowercase .Type}}{{lowercase .Destination}}" method="post">
                          <input type="hidden" id="name" name="name" value="{{lowercase .Name}}" />
                          <button class="button is-danger is-outlined">
                            <span class="icon is-small">
                              <i class="fas fa-trash"></i>
                            </span>
                          </button> 
                          </form>
                        </p>                  
                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                  </table>
                  <button class="button is-primary is-outlined js-modal-trigger" data-target="modal-js-relation">
                    <span class="icon is-small">
                      <i class="fas fa-circle-plus fa-2x"></i>
                    </span>
                  </button>
                </section>              

{{end}}

{{template "base.html" .}}