{{define "breadcrumb"}}
                        <li><a href="/entities">Entities</a></li>
                        <li><a href="/entities/{{lowercase .Text.entityname}}">{{.Text.entityname}}</a></li>
                        <li class="is-active"><a href="#" aria-current="page">Field</a></li>
{{end}}

{{define "content"}}

                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                {{.Text.title}}
                            </h1>
                             <h2 class="subtitle">
                                Entity: '{{.Text.entityname}}'
                            </h2>
                        </div>
                    </div>
                </section>
  
                <section>
                  <form action="/fields" method="post">   
                    {{$lookupname := .Data.lookupnames}}
                    {{$entityname := .Text.entityname}}
                    {{ with .Data.field}}
                    <section>
                      <input type="hidden" id="entity_name" name="entity_name" value="{{lowercase $entityname}}" />  
                      <div class="field">
                        <label for="field_name" class="label">Name</label>
                        <div class="control">
                          <input name="field_name" id="field_name" class="input" type="text" value="{{.Name}}" required />
                        </div>
                      </div>
                      <div class="columns">
                        <div class="column is-one-quarter">
                          <div class="field">
                            <label for="type_select" class="label">Type</label>
                            <div class="control">
                              <div class="select">
                                <select id="type_select" name="field_type" value="{{.Type}}" autofocus onchange="fieldVisibility()" onfocus="fieldVisibility()">
                                  <option{{if eq .Type "Boolean"}} selected{{end}}>Boolean</option>
                                  <option{{if eq .Type "Text"}} selected{{end}}>Text</option>
                                  <option{{if eq .Type "Longtext"}} selected{{end}}>Longtext</option>
                                  <option{{if eq .Type "Password"}} selected{{end}}>Password</option>
                                  <option{{if eq .Type "E-Mail"}} selected{{end}}>E-Mail</option>
                                  <option{{if eq .Type "Phone"}} selected{{end}}>Phone</option>
                                  <option{{if eq .Type "Integer"}} selected{{end}}>Integer</option>
                                  <option{{if eq .Type "Number"}} selected{{end}}>Number</option>
                                  <option{{if eq .Type "Date"}} selected{{end}}>Date</option>
                                  <option{{if eq .Type "Lookup"}} selected{{end}}>Lookup</option>
                                </select>
                              </div>
                             </div>
                          </div>
                        </div>
                       <div class="column is-one-quarter">
                        <div class="field" id="datetime">
                          <label class="label">Date/Time</label>
                          <div class="control">
                            <div class="select">
                              <select name="field_datetime" value="{{.DateTime}}">
                                <option{{if eq .DateTime ""}} selected{{end}}></option>
                                <option{{if eq .DateTime "Date"}} selected{{end}}>Date</option>
                                <option{{if eq .DateTime "Time"}} selected{{end}}>Time</option>
                                <option{{if eq .DateTime "Date+Time"}} selected{{end}}>Date+Time</option>
                                <option{{if eq .DateTime "Week"}} selected{{end}}>Week</option>
                                <option{{if eq .DateTime "Month"}} selected{{end}}>Month</option>
                              </select>
                            </div>
                          </div> 
                        </div>                        
                       </div>        
                       <div class="column is-one-quarter" id="label">
                          <div class="field">
                            <label for="field_label" class="label">Label</label>
                              <input name="field_label" id="field_label" type="checkbox" value="true" {{if .Label}}checked{{end}} />                            
                          </div>   
                        </div>                                        
                        <div class="column is-one-quarter" id="required">
                          <div class="field" >
                            <label for="field_required" class="label">Required</label>
                              <input name="field_required" id="field_required" type="checkbox" value="true" {{if .Required}}checked{{end}} />                            
                          </div>   
                        </div>
 
                      </div> <!-- columns -->
                      <div class="columns" >
                        <div class="column is-half" id="size">
                          <div class="field">
                            <label for="field_size" class="label">Size of Field</label>
                            <div class="control">
                              <input name="field_size" id="field_size" class="input" type="number" size="4" step="1" min="1" value="{{.Size}}">
                            </div>
                          </div> 
                        </div>   
                        <div class="column is-half" id="height">
                          <div class="field">
                            <label for="field_height" class="label">Height of Field</label>
                            <div class="control">
                              <input name="field_height" id="field_height" class="input" type="number" size="2" step="1" min="1" value="{{.Height}}">
                            </div>
                          </div>   
                        </div>  
                        <div class="column is-half" id="decimals">
                          <div class="field">
                            <label for="field_decimals" class="label">Decimals</label>
                            <div class="control">
                              <input name="field_decimals" id="field_decimals" class="input" type="number" size="2" step="1" min="0" value="{{.Decimals}}">
                            </div>
                          </div>   
                        </div> 
                      </div> <!-- columns -->
                      <div class="columns" >
                        <div class="column is-half" id="minlength">
                          <div class="field">
                            <label for="field_minlength" class="label">Minimum Length</label>
                            <div class="control">
                              <input name="field_minlength" id="field_minlength" class="input" type="number" size="4" step="1" min="0" value="{{.MinLength}}">
                            </div>
                          </div>   
                        </div> 
                        <div class="column is-half" id="maxlength">
                          <div class="field" >
                            <label for="field_maxlength" class="label">Maximum Length</label>
                            <div class="control">
                              <input name="field_maxlength" id="field_maxlength" class="input" type="number" size="4" step="1" min="0" value="{{.MaxLength}}">
                            </div>
                          </div>   
                        </div>     
                      </div> <!-- columns -->
                      <div class="columns">
                        <div class="column is-one-third"  id="minval">
                          <div class="field">
                            <label for="field_min" class="label">Minimum Value</label>
                            <div class="control">
                              <input name="field_min" id="field_min" class="input" type="number" value="{{.Min}}">
                            </div>
                          </div> 
                        </div>  
                        <div class="column is-one-third"  id="maxval">
                          <div class="field">
                            <label for="field_max" class="label">Maximum Value</label>
                            <div class="control">
                              <input name="field_max" id="field_max" class="input" type="number" value="{{.Max}}">
                            </div>
                          </div> 
                        </div>                         
                        <div class="column is-one-third"  id="stepval">
                          <div class="field" >
                            <label for="field_step" class="label">Step</label>
                            <div class="control">
                              <input name="field_step" id="field_step" class="input" type="number" value="{{.Step}}">
                            </div>
                          </div>  
                        </div>                         
                      </div> <!-- columns -->
                       <div class="columns" >
                         <div class="column is-half" id="placeholder">
                          <div class="field">
                            <label for="placeholder_field" class="label">Placeholder</label>
                            <div class="control">
                              <input id="placeholder_field" name="field_placeholder" class="input" type="text" value="{{.Placeholder}}">
                            </div>
                          </div>     
                         </div>
                         <div class="column is-half">
                          <div class="field" id="pattern">
                            <label for="pattern_field" class="label">Validation Pattern</label>
                            <div class="control">
                              <input id="pattern_field" name="field_pattern" class="input" type="text" value="{{.Pattern}}">
                            </div>
                          </div>
                         </div>
                       </div> <!-- columns -->
                       <div class="columns" >
                       <div class="column">
                          <div class="field" id="lookup">
                            <label class="label">Lookup</label>
                            <div class="control">
                              <div class="select">
                                <select id="lookup_select" name="field_lookup" value="{{.Lookup}}" autofocus onchange="fieldVisibilty()" onfocus="fieldVisibilty()">
                                 <option></option> 
                                  {{$lk:= .Lookup}}
                                  {{range $value:=$lookupname}}                                 
                                  <option{{if eq $lk $value}} selected{{end}}>{{$value}}</option>          
                                  {{end}}
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> <!-- columns -->
                    </section>
                    {{end}}
                    
                    <hr>
                    
                    <footer>
                      <button class="button is-success" type="submit">Save changes</button>
                      <a class="button is-info" href="/entities/{{lowercase .Text.entityname}}">Cancel</a>
                    </footer>
                                
                  </form>
                </section>

<script>
window.onload = function(){
    var element = document.getElementById('type_select');
    element.focus();
    setTimeout(function () { element.focus(); }, 1);
}

function fieldVisibility() {
    var select = document.getElementById("type_select").value;
    var fields = {
        pattern: ["Text", "Password", "Longtext", "E-Mail", "Phone"],
        required: ["Text", "Password", "Longtext", "E-Mail", "Phone", "Date", "Number"],
        minlength: ["Text", "Password", "Longtext", "E-Mail", "Phone"],
        maxlength: ["Text", "Password", "Longtext", "E-Mail", "Phone"],
        placeholder: ["Text", "Password", "Longtext", "E-Mail", "Phone"],
        size: ["Text", "Password", "Longtext", "E-Mail", "Phone", "Number","Integer"],
        height: ["Longtext"],
        datetime: ["Date"],
        decimals: ["Number"],
        minval: ["Number","Integer"],
        maxval: ["Number","Integer"],
        stepval: ["Number","Integer"],
        lookup: ["Lookup"],
        label: ["Text", "Longtext", "E-Mail"]
    };

    for (var field in fields) {
        var display = fields[field].includes(select) ? "block" : "none";
        document.getElementById(field).style.display = display;
    }

    if (document.getElementById("placeholder_field").value === "" && fields["placeholder"].includes(select)) {
        document.getElementById("placeholder_field").value = getDefaultPlaceholder(select);
    }
}

function getDefaultPlaceholder(type) {
    switch(type) {
        case "Text": return "Some text...";
        case "E-Mail": return "test@yahoo.de";
        case "Phone": return "+34 5603821";
        case "Number": return "12.43";
        default: return "";
    }
}</script>
{{end}}


{{template "base.html" .}}

