{{define "lookupadd_popup.html"}}
  <div id="modal-js-lookupadd" class="modal">
<div class="modal-background"></div>
  <div class="modal-card">
    <form action="/lookups/{{.Data.lookup.Id}}" method="post">
    <input type="hidden" id="add" name="add" value="true" />
    <header class="modal-card-head">
      <p class="modal-card-title">Add entry</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input name="lookup_text" class="input is-focused" type="text" required>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" type="submit">Save changes</button>
      <button class="button is-info">Cancel</button>
    </footer>
    </form>
  </div>
</div>
{{end}}